Microsoft.Flow/flows/c66e5a60-29f8-432f-989f-f5763f80d889/definition.json
{"name":"1a8abd75-b4e1-4cb3-9eb2-9bff11db8cc3","id":"/providers/Microsoft.Flow/flows/1a8abd75-b4e1-4cb3-9eb2-9bff11db8cc3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Using form processing model to extract data from email attatchment","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"784611d9-647b-4f6d-90ab-55672037d953","type":"User","tenantId":"fa8ca91c-4f89-415e-8fd6-7b6c090ca06c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-04-02T10:41:18.6303343Z","connectionKeySavedTimeKey":"2025-04-02T10:41:18.6303343Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"Id::AAMkADAwZWMwZmQ3LTdiOWQtNGQxZi04OGFhLTZlZGExYTFiMDZkOAAuAAAAAACJh4Em6xzWT4ogntPsjRbvAQDMAZhAiXcUQ70Wsk5sezW8AAAAAAEMAAA=":"Inbox","Id::AQMkAGVlADIwYjU4Yi1iNzNjLTRmOWMtOGEyOC1jZTBlYTNkN2IyOGMALgAAA9LduMqkoRlFv83UbVrEDnoBAMEp2BmTvRhBh187fEWYT7YAAAIBDAAAAA==":"Inbox"},"type":"OpenApiConnectionNotification","inputs":{"parameters":{"toOrCc":"kawisha.nilmani@lowcodeminds.com","includeAttachments":true,"subjectFilter":"AI Builder","importance":"Any","fetchOnlyWithAttachment":true,"folderPath":"Id::AQMkAGVlADIwYjU4Yi1iNzNjLTRmOWMtOGEyOC1jZTBlYTNkN2IyOGMALgAAA9LduMqkoRlFv83UbVrEDnoBAMEp2BmTvRhBh187fEWYT7YAAAIBDAAAAA=="},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"OnNewEmailV3"},"authentication":"@parameters('$authentication')"}}},"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"Congradulation! You've successfully created a cloud flow with your AI Builder From Processing model.\n\nFirst, before making any changes to this flow we recommend that you test this flow. To test it:\n\n1. Click 'Save' on the top right of this page.\n2. Then click on 'Test' on the top right as well and choose Test flow 'manually'.\n3. Send an email to yourself with 'AI Builder in the subject and with a document attached to process. Important! Put 'AI Builder in the subject line for the flow to run.\nAfter a few seconds, the flow will start running and you will get an email with a few fields extracted by the model.\n\nAfter you have successfully tested this flow, you can then customize it for your business needs. \n\nHaving issues running the flow? Let us know in the AI Builder forum where we'll be happy to help: https://aka.ms/ForumAIBuilder"},"Apply_to_each":{"foreach":"@triggerOutputs()?['body/attachments']","actions":{"Condition":{"actions":{"Get_my_profile_(V2)":{"runAfter":{"Extract_information_from_documents":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Subject":"Document processed","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Invoice For</strong></b> <b><strong class=\"editor-text-bold\">: </strong></b>@{item()?['contentBytes']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Invoice</strong></b></p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Extract_information_from_documents":{"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_formsprocessing","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"3f51b255-fdb3-431b-af2d-d45fb261bd3e","item/requestv2/mimeType":"image/png","item/requestv2/base64Encoded":"@item()?['contentBytes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_formsprocessing"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@triggerOutputs()?['body/attachments']",false]}]},"type":"If"}},"runAfter":{"Compose":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_office365-1":{"connectionName":"shared-office365-f2f13378-df5d-4f81-b449-f6b5b1e692c4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365"},"shared_office365users":{"connectionName":"shared-office365user-04cf2217-1f08-449e-9706-eacf5258d0a4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users"},"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-c1a2169b-cf9d-4707-942b-a44b44b3bd58","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps"}},"flowFailureAlertSubscribed":false,"isManaged":false}}